@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "swiper/swiper-bundle.min.css";

@import "custom.css";
@import 'flowbite/dist/flowbite.min.css';

@font-face {
    font-family: 'Poppins';
    font-weight: 100;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-Thin.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-Thin.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 200;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-ExtraLight.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-ExtraLight.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-Light.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-Light.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-Regular.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-Medium.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-Medium.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-SemiBold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-Bold.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-ExtraBold.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-ExtraBold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-Black.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-Black.woff') format('woff');
    font-display: swap;
}

.custom-logo-link img {
    height: 3em;
    width: auto;
}

#primary-menu ul li:not(.primary-button):hover {
    @apply text-primary transition-colors duration-200;
}

.primary-button {
    @apply inline-flex items-center bg-primary text-white cursor-pointer rounded-md font-semibold py-2 px-4 transition-colors duration-200;
}

.primary-button:hover{
    @apply bg-primary/80 text-white;
}

.primary-outline-button {
    @apply inline-flex items-center bg-transparent text-gray-800 cursor-pointer rounded-md font-semibold py-2 px-4 border-[1px] border-primary transition-colors duration-200;
}

.primary-outline-button:hover {
    @apply bg-primary text-white;
}

.skillsSwiper .swiper-slide {
    @apply inline-flex w-auto items-center bg-transparent border-[1px] border-gray-200 rounded-md font-medium py-2 px-6 shadow-md mb-4 mx-auto;
}

.footer-nav {
    @apply text-center mb-2 md:mb-0 md:inline-flex;
}

.footer-nav > li {
    @apply mr-8;
}

.footer-nav > li:hover {
    @apply text-primary transition-colors duration-200;
}

.testimonialsSwiper .swiper-button-next, .testimonialsSwiper .swiper-button-prev {
    @apply text-gray-500;
}
