@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

@font-face {
    font-family: 'Poppins';
    font-weight: 100;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-Thin.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-Thin.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 200;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-ExtraLight.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-ExtraLight.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-Light.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-Light.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-Regular.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-Medium.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-Medium.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-SemiBold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-Bold.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-ExtraBold.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-ExtraBold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    src: url('./../fonts/poppins/Poppins-Black.woff2') format('woff2'),
         url('./../fonts/poppins/Poppins-Black.woff') format('woff');
    font-display: swap;
}

.custom-logo-link img {
    height: 3em;
    width: auto;
}

#primary-menu ul li:not(.primary-button):hover {
    @apply text-primary;
}

.primary-button {
    @apply inline-flex bg-primary text-white cursor-pointer rounded-md font-semibold py-2 px-4;
}

.primary-button:hover{
    @apply bg-primary/80 text-white;
}
